* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

/* Header */
header {
  height: 60px;
  color: #666666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  height: 100%;
  padding: 0 20px;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #666666;
}

.nav-link:hover {
  color: #ff6600;
}

/* Main */
main {
  padding: 40px 20px;
}

h2 {
  font-size: 32px;
  margin: 24px 0 8px;
  color: #915c3b;
}

h3 {
  font-size: 21px;
  /* margin: 0 0 8px 0; */
  font-weight: 500;
}

section {
  margin-bottom: 48px;
}

p {
  color: #666666;
}

/* Personal Info */

.personal-info {
  text-align: center; /* 內容置中 */
}

.avatar-img {
  border-radius: 100px; /* 圓框效果 */
}

.name {
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  margin-bottom: 20px;
}

.social-media-link {
  color: #999999;
  margin: 0 5px;
}

.social-media-link:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
  text-decoration: none; /* 沒有底線 */
}

.alpha_camp, .electric_ar, .graduation_project {
  color: #c97136;
  font-weight: 400;
}

.alpha_camp:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
  font-weight: 600;
  text-decoration: none; /* 沒有底線 */
}

.electric_ar:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
  font-weight: 600;
  text-decoration: none; /* 沒有底線 */
}

.graduation_project:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
  font-weight: 600;
  text-decoration: none; /* 沒有底線 */
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px; /* 內容置中 */
  letter-spacing: 2px; /* 字元間距 */
  color: #ff6600;
}

/* Skill Section */
.skill-name,
.job-title {
  /* border-top: 1px solid #999999; */
  margin-top: 20px;
  padding-top: 20px;
}

/* .skill {
  width: 100%;
} */

/* @media screen and (min-width: 576px) {
  .skill-card {
    width: 60%;
  }
} */

.portfolio {
  border-bottom: 1px solid #999999;
  margin-bottom: 35px;
  padding-bottom: 25px;
}

/* Experience Section */
hr {
  border: 0px;
  height: 1px;
  background: #999999;
  margin: 20px 0;
}

.company,
.duration {
  color: #666666;
  font-size: 12px;
  margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}

/*****ANSWER*****/

.wrapper {
  margin: 50px auto;
  padding: 0 10px;
  /*   display: flex;
  flex-flow: column wrap; */
}

header,
main {
  width: 100%;
}

.project {
  color: #999999;
}

.project-name:hover {
  color: #eb7e35;
}

.project-github {
  color: #999999;
}

.project-github:hover {
  color: #eb7e35;
  font-weight: 600;
  text-decoration: none;
}

.project-card:hover {
  background-color: #eb7e35;
}

.card {
  width: 100%;
}
/* 
@media screen and (min-width: 576px) {
  .card {
    height: 30vw;
  }
}

@media screen and (min-width: 992px) {
  .card {
    height: 20vw;
  }
} */

/* @media screen and (min-width: 576px) {
  .personal-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .aside1 {
    width: 35%;
  }
  .aside2 {
    width: 45%;
  }
  .skill-section,
  .experience-section {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    margin: 30px;
  }
  .skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  .skill {
    width: 28%;
  }
  .experience-item {
  }
  .experience {
    width: 92%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .personal-info {
    flex-direction: column;
  }
  .wrapper {
    flex-flow: row wrap;
  }
  .aside {
    width: 45%;
  }
  .content {
    width: 50%;
  }
}
 */
